<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zxx"> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang="zxx"> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang="zxx"> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Conmebol  Tweets </title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png"> 	
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/transitions.css">
	<link rel="stylesheet" href="../static/css/prettyPhoto.css">
	<link rel="stylesheet" href="../static/css/swiper.min.css">
	<link rel="stylesheet" href="../static/css/jquery-ui.css">
	<link rel="stylesheet" href="../static/css/animate.css">
	<link rel="stylesheet" href="../static/css/owl.theme.css">
	<link rel="stylesheet" href="../static/css/owl.carousel.css">
	<link rel="stylesheet" href="../static/css/customScrollbar.css">
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="../static/css/color.css">
	<link rel="stylesheet" href="../static/css/responsive.css">
	<link rel="stylesheet" href="../static/css/searchbox.css">
	<script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<div class="tg-sliderbox">
			<div class="tg-imglayer">
				<img src="../static/images/bg-pattran.png" alt="image desctription">
			</div>
			<div id="tg-home-slider" class="tg-home-slider tg-haslayout">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="container">
							<figure class="floating">
								<img src="../static/images/slider/img-01.png" alt="image description">
							</figure>
							<div class="tg-slider-content">
								<h1>Eliminatorias <span>Conmebol</span></h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Home Slider End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">

			<section class="tg-main-section tg-haslayout tg-bgdark">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<div class="tg-statistics">
								<div class="tg-statistic tg-goals">
									<span class="tg-icon icon-Icon1"></span>
									<h2><span class="tg-statistic-count" data-from="0" data-to="1000" data-speed="8000" data-refresh-interval="50">2700</span></h2>
									<h3>Goals</h3>
								</div>
								<div class="tg-statistic tg-activeplayers">
									<span class="tg-icon icon-Icon2"></span>
									<h2><span class="tg-statistic-count" data-from="0" data-to="220" data-speed="8000" data-refresh-interval="50">1673</span></h2>
									<h3>Active Players</h3>
								</div>
								<div class="tg-statistic tg-activeteams">
									<span class="tg-icon icon-Icon3"></span>
									<h2><span class="tg-statistic-count" data-from="0" data-to="10" data-speed="8000" data-refresh-interval="50">236</span></h2>
									<h3>Active Teams</h3>
								</div>
								<div class="tg-statistic tg-earnedawards">
									<span class="tg-icon icon-Icon4"></span>
									<h2><span class="tg-statistic-count" data-from="0" data-to="30" data-speed="8000" data-refresh-interval="50">197</span></h2>
									<h3>Earned Awards</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</section>
			
			
		
			<!--************************************
					Top Rated Player Start
			*************************************-->
			<div>
				<form action = "/search" method = "GET">
					<input class="form-control" type="text" name="searchT" placeholder="Buscar:" autofocus>
					<input class="form-control" type="text" name="limit" placeholder="N° Tweets:" autofocus>
					<button type = "submit">search</button>
				</form> 
			</div>
			<section class="tg-main-section tg-haslayout">
				<div class="container">
					<div class="tg-section-name">
						<h2>top Rated Tweets</h2>
					</div>
					<div class="col-sm-11 col-xs-11 pull-right">
						<div class="row">
							<div class="tg-topratedplayer tg-haslayout">
								<div class="row">
									<div class="col-md-20 col-sm-16 col-xs-12">
										<div id="tg-playerscrollbar" class="tg-players tg-playerscrollbar">
											{% for tweet in tweets %}
											<div class="tg-player">
												<div class="col-sm-12 col-xs-12 pull-right">
													<div class="tg-playcontent">
														<h3><a href="#">{{tweet}}</a></h3>
														<div class="tg-description">
															<p>{{tweets[tweet]}}</p>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}

										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--************************************
					Top Rated Player End
			*************************************-->
		</main>

	</div>
	<!--************************************
			Wrapper End
	*************************************-->
	<!--************************************
			Search Start
	*************************************-->

	<script src="../static/js/vendor/jquery-library.js"></script>
	<script src="../static/js/vendor/bootstrap.min.js"></script>
	<script src="../static/js/customScrollbar.min.js"></script>
	<script src="../static/js/owl.carousel.js"></script>
	<script src="../static/js/isotope.pkgd.js"></script>
	<script src="../static/js/prettyPhoto.js"></script>
	<script src="../static/js/swiper.min.js"></script>
	<script src="../static/js/jquery-ui.js"></script>
	<script src="../static/js/countTo.js"></script>
	<script src="../static/js/appear.js"></script>
	<script src="../static/js/main.js"></script>
</body>


</html>